<body>
  <div class="title">
    <h1>Saturday, July 20</h1>
    <div class="linedot"></div>
    <hr />
  </div>
  <div class="content" style="margin-top: 2em">
    <div class="container">
      <div class="time">
        <h1>10am</h1>
      </div>
      <div class="event">
        <h1>Pemberkatan</h1>
        <p>Pemberkatan di langsungkan di Gereja Jakarta</p>
      </div>
    </div>
    <div class="container c1">
      <div class="time">
        <h1>17pm</h1>
      </div>
      <div class="event">
        <h1>Wedding</h1>
        <p>Wedding party diadakn di J.W Marriot</p>
      </div>
    </div>
    <div class="container">
      <div class="time">
        <h1>21pm</h1>
      </div>
      <div class="event">
        <h1>After Party</h1>
        <p>
          After party diadakan di Ballroom II, J.W Marriot for close relation
          only
        </p>
      </div>
    </div>
  </div>
</body>
