<div class="container row m-auto content-section">
  <div class="col-lg-6 left-content">
    <div class="container m-auto left-container">
      <p class="header-text">Hi, nama saya <b>Dedik Sugiharto!</b></p>
      <p class="paragraph-text">
        Saya seorang software-engineer, pembaca buku, warga NU, dan juga murid
        (online) Pak Fahruddin Faiz.
      </p>
      <p class="overview">
        <a class="overview-link" routerLink="/overview">
          Go To Overview<span class="arrow"
            ><img src="assets/profile/arrow.svg" alt="test" /></span
        ></a>
      </p>
      <div class="content-detail row">
        <div class="col-lg-3">
          <p class="detail-header">Projects</p>
          <p class="detail-content">12</p>
        </div>
        <div class="col-lg-3">
          <p class="detail-header">Experience</p>
          <p class="detail-content">8 yrs</p>
        </div>
        <div class="col-lg-3">
          <p class="detail-header">Nationality</p>
          <p class="detail-content">
            IDN
            <span
              ><img
                src="assets/profile/id.svg"
                style="width: 21px; padding-bottom: 3px; margin-left: 2px"
                alt=""
            /></span>
          </p>
        </div>
      </div>
    </div>
    <div class="background-rectangle">
      <div class="row">
        <div class="col-lg-3" style="margin-top: -60px; margin-left: -70px">
          <img src="assets/profile/background/left/Rectangle1.svg" alt="" />
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3" style="margin-left: 60px">
          <img src="assets/profile/background/left/Rectangle2.svg" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3" style="margin-top: -55px; margin-left: -100px">
          <img src="assets/profile/background/left/Rectangle3.svg" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3" style="margin-top: 75px; margin-left: -80px">
          <img src="assets/profile/background/left/Rectangle5.svg" alt="" />
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3" style="margin-left: 100px; margin-top: 160px">
          <img src="assets/profile/background/left/Rectangle4.svg" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3" style="margin-top: 58px; margin-left: 5px">
          <img src="assets/profile/background/left/Rectangle7.svg" alt="" />
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3" style="margin-top: 100px; margin-left: 90px">
          <img src="assets/profile/background/left/Rectangle6.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 right-content">
    <div class="content-image">
      <img src="assets/profile/contentimage.png" alt="" />
    </div>
    <div class="background-picture">
      <div class="row gap-5 top-row">
        <div class="blur b1 col-lg-3">
          <img src="assets/profile/background/blur4.svg" alt="" />
        </div>
        <div class="blur b2 col-lg-3 m-3">
          <img src="assets/profile/background/blur5.svg" alt="" />
        </div>
        <div class="blur b3 col-lg-3">
          <img src="assets/profile/background/blur1.svg" alt="" />
        </div>
      </div>
      <div class="row gap-5 my-5">
        <div class="blur b4 col-lg-3" style="margin-left: -20px">
          <img src="assets/profile/background/blur3.svg" alt="" />
        </div>
        <div class="col-lg-3 m-3"></div>
        <div class="blur b5 col-lg-3" style="margin-left: 40px">
          <img src="assets/profile/background/blur2.svg" alt="" />
        </div>
        <div class="row gap-5">
          <div class="blur b6 col-lg-3">
            <img src="assets/profile/background/blur7.svg" alt="" />
          </div>
          <div class="blur b7 col-lg-3 m-auto">
            <img src="assets/profile/background/blur8.svg" alt="" />
          </div>
          <div class="blur b8 col-lg-3">
            <img src="assets/profile/background/blur6.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
