.header-text {
  font-size: 40px;
  width: 17ch;
  font-weight: 300;
  line-height: 54px;
}
.content-section {
  padding-top: 170px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes leftin {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
p {
  color: white;
  animation: fade;
  animation-duration: 2s;
}
.header-text {
  animation: fade;
  animation-duration: 4s;
}
.header-text b {
  font-weight: 700;
}
.paragraph-text {
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 20px;
  width: 40ch;
  color: rgba(255, 255, 255, 0.6);
  line-height: 30px;
}
.arrow {
  color: #e5e5e5;
  margin-left: 10px;
}
.overview-link {
  font-weight: 500;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.overview {
  margin: 60px 0px;
}
.detail-header {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 400;
}
.detail-content {
  margin-top: -20px;
  font-size: 24px;
  font-weight: 500;
}
.content-image img {
  width: 95%;
  position: absolute;
  animation: leftin;
  animation-duration: 2s;
}
.right-content {
  position: relative;
}
.top-row {
  margin-top: -30px;
}
.left-content {
  position: relative;
}
.left-container {
  position: absolute;
}
