<div class="container row m-auto content-section">
  <div class="col-lg-6">
    <div class="row">
      <div class="title-background"><p>Contact</p></div>
      <div class="left-content-row">
        <p class="content-title my-5">Contact</p>
        <p class="main-content">
          Kamu bisa menghubungi saya lewat kedua kontak di bawah ini
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="row">
        <div class="col-md-2 my-3" style="">
          <img src="assets/contact/telp.png" alt="" />
        </div>
        <div class="col-md-6 mt-3" style="margin-left: -10px">
          <p class="contact-title">Phone</p>
          <p class="contact-content">+62 1234 8921</p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-2" style="">
          <img src="assets/contact/email.png" alt="" />
        </div>
        <div class="col-md-6" style="margin-left: -10px">
          <p class="contact-title">Email</p>
          <p class="contact-content">support@collosal.tld</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 right-content">
    <div class="content-image">
      <img
        src="assets/contact/message.png"
        style="margin-left: 10px; width: 100%; margin-top: 60px"
      />
    </div>
    <div class="content-image">
      <img
        src="assets/contact/foto.png"
        style="margin-left: 230px; width: 40%; margin-top: 220px"
      />
    </div>
    <div class="background-image">
      <img
        src="assets/overview/background.svg"
        style="margin-left: 20px; width: 90%"
        alt=""
      />
    </div>
  </div>
</div>
