body {
  font-family: "Inter", sans-serif;
}
@keyframes active {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.navbar {
  background-color: transparent;
  padding-top: 50px;
}
.navbar-brand {
  background-color: #cdfff3;
  font-weight: 800;
  width: 42px;
  height: 42px;
  border-radius: 6px;
  color: black;
  cursor: pointer;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  color: white;
  opacity: 60%;
  animation: active;
  animation-duration: 2s;
  margin-left: -500px;
}
.nav-link:hover {
  transition: all 1s;
  opacity: 100%;
}
.link-active {
  opacity: 100%;
}
.btn {
  color: white;
  background-color: #2ba386;
  width: 168px;
  height: 47px;
  border-radius: 6px;
}
