p {
  color: white;
}
.left-content,
.right-content {
  margin-top: 50px;
}
.left-content-row {
  position: relative;
}
.content-title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 54;
}
.title-background p {
  font-size: 100px;
  font-weight: 800;
  opacity: 3%;
}
.title-background {
  position: absolute;
  margin-left: -63px;
  margin-top: -5px;
}
.main-content {
  width: 40ch;
  opacity: 60%;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}
.content-list {
  color: white;
}
.list {
  font-size: 18px;
  list-style-image: url("assets/listbullet.svg");
  margin: 12px -10px;
}
.list p {
  margin: 0px 10px;
}
.l1 {
  font-weight: 600;
}
.l2,
.l3,
.l4 {
  opacity: 50%;
  font-weight: 400;
}

.picture-grid {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}
.picture-grid img {
  width: 100%;
}
.picture-grid {
  padding: 15px 15px;
  width: 48%;
}
.project-title {
  font-weight: 600;
  font-size: 18px;
}
.project-category {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 60%;
  margin-top: -7px;
  letter-spacing: 1px;
}
