<div class="container row m-auto content-section" style="padding-bottom: 150px">
  <div class="col-lg-6 left-content">
    <div class="title-background"><p>Projects</p></div>
    <div class="left-content-row">
      <p class="content-title my-5">Projects</p>
      <p class="main-content mb-5">
        Di halaman ini kamu akan menemukan proyek-proyek yang pernah saya buat.
      </p>
      <ul class="content-list">
        <li class="list l1"><p>Semua Kategori</p></li>
        <li class="list l2"><p>UI Design</p></li>
        <li class="list l3"><p>Web Development</p></li>
        <li class="list l4"><p>Mobile Development</p></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 right-content">
    <div class="row gap-3">
      <div class="col-lg-6 picture-grid">
        <img src="assets/project/project1.png" alt="" />
        <p class="project-title text-center my-3">Login Page UI Design</p>
        <p class="project-category text-center">UI Design</p>
      </div>
      <div class="col-lg-6 picture-grid">
        <img src="assets/project/project4.png" alt="" />
        <p class="project-title text-center my-3">Landing Page</p>
        <p class="project-category text-center">Web Development</p>
      </div>
    </div>
    <div class="row gap-3 my-4">
      <div class="col-lg-6 picture-grid">
        <img src="assets/project/project5.png" alt="" />
        <p class="project-title text-center my-3">Landing Page</p>
        <p class="project-category text-center">Web Development</p>
      </div>
      <div class="col-lg-6 picture-grid">
        <img src="assets/project/project2.png" alt="" />
        <p class="project-title text-center my-3">Landing Page UI Design</p>
        <p class="project-category text-center">UI Design</p>
      </div>
    </div>
    <div class="row gap-3">
      <div class="col-lg-6 picture-grid">
        <img src="assets/project/project6.png" alt="" />
        <p class="project-title text-center my-3">Mobile App</p>
        <p class="project-category text-center">Mobile Development</p>
      </div>
      <div class="col-lg-6 picture-grid">
        <img src="assets/project/project3.png" alt="" />
        <p class="project-title text-center my-3">Landing Page UI Design</p>
        <p class="project-category text-center">Mobile Development</p>
      </div>
    </div>
  </div>
</div>
