<div class="container row m-auto content-section">
  <div class="col-lg-6">
    <div class="title-background"><p>Skills</p></div>
    <div class="left-content-row">
      <p class="content-title my-5">Skills</p>
      <p class="main-content">
        Beberapa skill yang saya punya, sebenernya banyak skill saya, tapi males
        masukin.
      </p>
    </div>
  </div>
</div>
<div class="skills-grid container my-3 pb-5">
  <div class="row mx-auto">
    <div class="col-lg-4 text-center">
      <img src="assets/skills/skill1.png" alt="" />
      <p class="skill-title mt-2">Biasa Pake Terminal</p>
      <p class="skill-desc">
        Udah terbiasa sih pake terimnal kek gini, karena lebih cepet kerjanya
        ketimbang pake GUI-GUI begitu.
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="assets/skills/skill3.png" alt="" />
      <p class="skill-title mt-2">Web Development</p>
      <p class="skill-desc">
        Bikin web itu gampang, tinggal ketik-ketik kode doang dah jadi lah web.
        Apalagi sekarang bisa pake Wix hehe.
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="assets/skills/skill2.png" alt="" />
      <p class="skill-title mt-2">Nulis Artikel</p>
      <p class="skill-desc">
        Biasa nulis artikel di web sendiri, ya walaupun masih berantakan yang
        penting nulis sih, daripada nggak sama sekali.
      </p>
    </div>
    <div class="row mx-auto my-5">
      <div class="col-lg-4 text-center">
        <img src="assets/skills/skill3.png" alt="" />
        <p class="skill-title mt-2">Web Development</p>
        <p class="skill-desc">
          Bikin web itu gampang, tinggal ketik-ketik kode doang dah jadi lah
          web. Apalagi sekarang bisa pake Wix hehe.
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <img src="assets/skills/skill2.png" alt="" />
        <p class="skill-title mt-2">Nulis Artikel</p>
        <p class="skill-desc">
          Biasa nulis artikel di web sendiri, ya walaupun masih berantakan yang
          penting nulis sih, daripada nggak sama sekali.
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <img src="assets/skills/skill1.png" alt="" />
        <p class="skill-title mt-2">Biasa Pake Terminal</p>
        <p class="skill-desc">
          Udah terbiasa sih pake terimnal kek gini, karena lebih cepet kerjanya
          ketimbang pake GUI-GUI begitu.
        </p>
      </div>
    </div>
  </div>
</div>
